<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detalhes - gabriel</title>
        <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../stylesheets/style.css">
      </head>
<body>
    <header>
        <div id="logo">
          <a href="/"><img src="../images/favicon.ico"></a>
        </div>
        <h1><a href="/">Pampa Automóveis</a></h1>
        <h1></h1>
      </header>
      <nav>
        <a href="/">HOME</a>
        <a href="/modelos">MODELOS</a>
        <a href="/categorias">CATEGORIAS</a>
        <a href="/contatos">CONTATOS</a>
      </nav>
      <main>
        <h2><%= veiculo.modelo %></h2>
        <p>Marca: <%= veiculo.marca %></p>
        <p>Categoria: <%= veiculo.categoria %></p>
        <p>Ano: <%= veiculo.ano %></p>
        <p>Cor: <%= veiculo.cor %></p>
        <p>R$ <%= veiculo.preco %></p>
      </main>
      <footer>
        <div class="info">
          <div class="expediente">
            <h3>Horário de funcionamento</h3>
            <p>Segunda a Sexta: das 8h - 12h | 13:30 - 18h</p>
            <p>Sábados: das 8h - 12h</p>
            <p>Domingos e feriados: fechados</p>
          </div>
          <div class="enderecos">
            <h3>Endereços</h3>
            <p>Avenida Brasil, 1451, Centro, Sertão/RS</p>
            <p>Rua Arcângelo Giacomazzi, 2794, Santuário, Estação/RS</p>
          </div>
          <div class="redes-sociais">
            <h3>Siga-nos nas redes sociais</h3>
            <div class="redes">
              <a href="https://www.facebook.com/" target="_blank" external><img
                  src="https://th.bing.com/th/id/R.9de2299692d3a68082cedbf88c5c30ed?rik=P%2fKZ7KZT1OY5gQ&riu=http%3a%2f%2fwww.skellyloy.com%2fimages%2fsocial%2ffacebook-64.png&ehk=C5ZixpRiFReuxY4G083wrDRpk6rkVsJtvAD2PqIWZp0%3d&risl=&pid=ImgRaw&r=0"
                  alt="Facebook"></a>
              <a href="https://www.instagram.com" target="_blank"><img
                  src="https://th.bing.com/th/id/R.6c1bfade9ecd5c39d263a3810c40f220?rik=zopIjEtPrjoEkw&riu=http%3a%2f%2facegikmo.com%2fimages%2flogo_instagram.png&ehk=V%2bLKjDQSqzA6%2b7hoX38Xxq9xdL%2fEeBFnotUkbDC8E6Y%3d&risl=&pid=ImgRaw&r=0"
                  alt="Instagram"></a>
              <a href="https://www.youtube.com" target="_blank"><img
                  src="https://www.mrmethane.com/images/social-icon-youtube.png" alt="You Tube"></a>
              <a href="https://www.linkedin.com" target="_blank"><img
                  src="https://www.vectorlogo.zone/logos/linkedin/linkedin-icon.svg" alt="LinkedIn"></a>
            </div>
          </div>
        </div>
        <span>2023 Pampa Automóveis</span>
      </footer>
</body>
</html>